* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    display: flex;

}



.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.339);
}

.n1 {
    margin-left: 1em;
    font-size: 16px;
}
.n1 > h3 {
    font-size: 12px;
    opacity: 70%;
    margin: 0;
    font-weight: 500;
}

.n2 > img {
    margin-left: 4px;
    height: 30px;
}

.n2 {
    background-color: #1C4D8D;
    padding: 0.8em 1em;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    color: white;
    cursor: pointer;    
}
.n2:hover {
     background-color: rgb(40, 40, 40);
     transition: all ease-in-out 0.2s;
}
.primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 0,2px solid rgba(0, 0, 0, 0.332); */
    border-radius:5px;

    height: 100%;

    margin: 4em 5em;
    margin-top: 1em;
}
.primary > h1 {
    margin :1em 0 1em 0;
    font-size: 24px;
}

table {
    margin: 0;
    padding: 0;

    width: 60vw;
    border-collapse: collapse;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.187);
}   

th {
    background-color: #1C4D8D;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 1em 0em;
    border-right: 0.3px solid rgba(255, 255, 255, 0.481);
}

td{
    border: 0.4px solid rgba(0, 0, 0, 0.197);
    margin: 0;
    padding: 0;
}

.tableImage {
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    object-fit: cover;
    width: 120px;
    height: 120px;
    border: 0.5px solid rgba(0, 0, 0, 0.28) ;
    margin: 2px
}
.imageDiv {
    padding: 1em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2 {
    background-color: rgba(0, 0, 0, 0.04);
}